@charset "UTF-8";
//分块主题
.block-headline{
    @include bigger(1200px,45px);
    @include flex-row(space-between);
    span{
        color: #999;
        font-size: 12px;
    }
}
//分块详细内容
.block-content{
    @include flex-row(center);
    .con-list{
        background-image: url("https://xhgj-xhmall-product.oss-cn-shanghai.aliyuncs.com/upload/category/1574854856691.png");
        @include bigger(419px,460px);
        border-right: 1px solid #ccc;
            ul{
                padding-top: 5px;
                li{
                    @include bigger(116px,30px);
                    text-align: left;
                    list-style: none;
                    margin:5px 0 5px 12px;
                    
                    @include font-standard(#5a1e1e,12px,transparent);
            }
        } 
    }
    //图片样式内容
    .con-piece{
        @include bigger(780px,460px);
        img{
            @include bigger(259px,228px);
            float: left;
            border: 1px solid #ccc;
            border-top: none;
            border-left:none;
        }
        .border-top{
            border-top: 1px solid #ccc;
        }
        aside{
            @include bigger(14px,14px);
            border-radius: 50%;
            border: 1px solid #e50112;
            // background-color: red;
            position: absolute;
            @include flex-row(center);
            span{
                color: #e50112;
                font-size: 8px;
                transform: translateX(1px);
            }
        }
    }
}
.con-piece>div{
    position: relative;
}
//滚动图片
#scrollimg{
    @include bigger(1198px,100px);
    margin: 20px 0 10px 0;
    border: 1px solid #999;
}