@charset "UTF-8";
//网页中间轮播图部分页面编辑
#inner-full{
    @include flex-row(space-between);
    padding-bottom: 25px;
    //左边部分样式
    .inner-left{
        @include li-style();
        .title{
                li{
                @include bigger(205px,40px);
                @include font-standard(black,14px,#eeeeee);
                    text-align: left;
                    line-height: 40px;
                    padding-left: 15px;
                    cursor: pointer;
                span{
                    margin-right: 5px;
                    color: #999;
                    font-size: 16px;
                }
            }
        }
        //商品详细目录
        .classify{
            @include bigger(980px,480px);
            @include positon-style(absolute,162px,572px);
            box-shadow: -2px 2px 5px 2px #ccc;
            background-color: white;
            z-index: 999;
            @include li-style();
            display: none;
            li{
                @include bigger(923px,34px);
                border-bottom: 1px solid #999;
                line-height: 34px;
                text-align: left;
                @include font-standard(#888,12px,transparent);
                cursor: pointer;
            }
            span{
                color:#888;
                font-weight: 500;
            }
            .span-title{
                color: #e50112;
                font-weight: bolder;
            }
            div{
                display: none;
                padding: 30px;
            }
        }
    }
//中间部分样式
    .inner-center{
        @include bigger(660px,460px);
        padding:20px 20px 0 20px;
        @include li-style();
        position: relative;
        .imglist{
            @include bigger(660px,330px);
            .imglist-cen{
                position: absolute;
            }
            img{
                @include bigger(660px,330px);
                margin-left: -4px;
            }
            overflow: hidden;
            white-space: nowrap;
            position: relative;
        } 
        //轮播图下方的小球
        .little{
            @include bigger(660px,10px);
            @include positon-style(absolute,330px,20px);
            @include flex-row(center);
            text-align: center;
            li{
                @include bigger(10px,10px);
                background-color: #aaa;
                margin: 5px;
                border-radius: 50%;
                cursor: pointer;
            }
        }
        //小球的颜色
        .little-act{
            background-color:#e50112 !important;
        }
        //轮播图下方的小图
        .bottom-box{
            width: 662px;
            margin-top: 4px;
            @include flex-row(space-between);
        }
    }
//右边样式
    .inner-right{
        @include bigger(280px,480px);
        @include flex-col(space-around);
        background-color: #eee;
        .people{
            @include bigger(80px,80px);
            margin-top: 10px;
        }
        .welcome{
            height: 20px;
            span{
                @include font-standard(black,16px,transparent);
            }
        }
//白色的球
        .qiu{
            width: 260px;
            @include flex-row(space-around);
            p{
                @include font-standard(black,12px,white);
                @include bigger(50px,50px);
                border-radius: 50%;
                text-align: center;
                padding: 5px;
                @include flex-row(space-around);
            }
        }
        //在线咨询
        .inline{
            @include bigger(242px,42px);
            border-radius: 21px;
            border: 1px solid #e50112;
            @include font-standard(#e50112,16px,white);
            text-align:center;
            line-height: 42px;
            &:hover{
                background-color: #e50112;
                transition-duration: 1s;
                cursor: pointer;
                color: white;
            }
        }
        //二维码
        .ma{
            @include bigger(125px,125px);
            margin-bottom: 20px;
        }
    }
}