@charset "UTF-8";
//侧边栏样式
#stairway{
    display: none;
    @include positon-style(fixed,160px,305px);
    ul{
        @include bigger(38px,604px);
        @include li-style();
        li{
            @include font-standard(#666,14px,#eee);
            @include bigger(38px,44px);
            margin-bottom: 2px;
            cursor: pointer;
        }
        li:last-child{
            @include font-standard(#666,14px,transparent);
        }
    }
}
//右侧边栏样式
#right-way{
    @include positon-style(fixed,100px,1849px);
    ul{
        @include li-style();
        border: 1px solid #666;
        li{
            position: relative;
            @include bigger(54px,54px);
            @include font-standard(#666,12px,#999);
            @include flex-col(center);
            border-bottom: 1px solid #666;
            cursor: pointer;
            img{
                margin: -10px 0;
            }
        }
        li:last-child{
            border-bottom: none;
            img{
                margin:0;
            }
        }
        .thisimg{
            @include bigger(160px,160px);
            z-index: -1;
            @include positon-style(absolute,117px,54px);
        }
    }
}