//设置弹性盒模型
@mixin flex-row ($justify){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: $justify;
}
@mixin flex-col ($justify){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: $justify;
}