* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#banner {
  width: 1200px;
  height: 30px;
  background-color: transparent;
}

header {
  width: 1200px;
  height: 86px;
  background-color: transparent;
}

#inner {
  width: 1200px;
  height: 43px;
  background-color: transparent;
}

footer {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efefef;
}

#footer-top {
  width: 1200px;
  height: 205px;
  background-color: transparent;
}

#footer-bottom {
  width: 1200px;
  height: 154px;
  background-color: transparent;
}

#banner li {
  list-style: none;
  text-align: center;
  line-height: 30px;
  padding-right: 11px;
}

.banner-left {
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.banner-left li:first-child {
  color: #888888;
  font-size: 12px;
  background-color: transparent;
}
.banner-left li:last-child a:first-child {
  color: red;
  font-size: 12px;
  background-color: transparent;
}
.banner-left li:last-child a:last-child {
  color: #666;
  font-size: 12px;
  background-color: transparent;
}

.banner-left a {
  text-decoration: none;
  margin-left: 10px;
}

.banner-right {
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.banner-right span {
  color: #e50112;
}
.banner-right .sjt {
  color: #999;
  font-size: 12px;
  margin-left: 6px;
}
.banner-right a {
  color: #888888;
  font-size: 12px;
  background-color: transparent;
  border-right: 2px solid #666;
  padding-right: 11px;
  text-decoration: none;
  margin-left: 2px;
}

.banner-right li:last-child {
  padding-right: 0;
}
.banner-right li:last-child a {
  font-weight: bold;
  padding-right: 0;
  border-right: none;
  color: red;
  font-size: 16px;
  background-color: transparent;
  margin-left: 4px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .search form {
  border: 1px solid #e50112;
  background-color: #e50112;
}
header .search form input {
  width: 395px;
  height: 30px;
  padding: 0 8px;
  outline: none;
  border-color: white;
}
header .search form a {
  display: inline-block;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  width: 85px;
  height: 30px;
  color: white;
  font-size: 18px;
  background-color: #e50112;
}

.search > p {
  color: #666;
  font-size: 12px;
  background-color: transparent;
}

.header-right {
  width: 400px;
  height: 40px;
}

#inner {
  border-bottom: 2px solid #e50112;
  position: relative;
}
#inner ul {
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  text-align: center;
  color: #666;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
}
#inner ul li:first-child {
  width: 220px;
  height: 43px;
  color: white;
  font-size: 16px;
  background-color: #e50112;
  line-height: 43px;
  color: white;
}
#inner ul .change:hover {
  color: #e50112;
}
#inner .sai span {
  position: absolute;
  top: 4px;
  left: 434px;
}
#inner .special span {
  position: absolute;
  top: 2px;
  left: 548px;
}
#inner .mulu span {
  margin-right: 10px;
  font-size: 20px;
}
#inner .inner-left {
  list-style: none;
  text-align: center;
  position: absolute;
  top: 45px;
  left: 0px;
  display: none;
}
#inner .inner-left .title li {
  width: 205px;
  height: 40px;
  color: black;
  font-size: 14px;
  background-color: #eeeeee;
  text-align: left;
  line-height: 40px;
  padding-left: 15px;
  cursor: pointer;
}
#inner .inner-left .title li span {
  margin-right: 5px;
  color: #999;
  font-size: 16px;
}
#inner .inner-left .classify {
  width: 980px;
  height: 480px;
  position: absolute;
  top: 0px;
  left: 220px;
  box-shadow: -2px 2px 5px 2px #ccc;
  background-color: white;
  z-index: 999;
  list-style: none;
  text-align: center;
  display: none;
}
#inner .inner-left .classify li {
  width: 923px;
  height: 34px;
  border-bottom: 1px solid #999;
  line-height: 34px;
  text-align: left;
  color: #888;
  font-size: 12px;
  background-color: transparent;
  cursor: pointer;
}
#inner .inner-left .classify span {
  color: #888;
  font-weight: 500;
}
#inner .inner-left .classify .span-title {
  color: #e50112;
  font-weight: bolder;
}
#inner .inner-left .classify div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
#inner .inner-left .classify div li:last-child {
  border-bottom: none;
}

#footer-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#footer-top ul {
  height: 150px;
  list-style: none;
  text-align: center;
}
#footer-top ul li {
  text-align: left;
  margin-bottom: 10px;
}
#footer-top ul li a {
  text-decoration: none;
  color: #444444;
  font-size: 14px;
  background-color: transparent;
}
#footer-top ul li span:last-child {
  color: #444444;
  font-size: 12px;
  background-color: transparent;
}
#footer-top div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  margin-bottom: 40px;
}
#footer-top div ul {
  width: 240px;
  height: 53px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
#footer-top div ul li {
  text-align: left;
}

#footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #666;
  font-size: 12px;
  background-color: transparent;
}
#footer-bottom .credential {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#right-way {
  position: fixed;
  top: 100px;
  left: 1849px;
}
#right-way ul {
  list-style: none;
  text-align: center;
  border: 1px solid #666;
}
#right-way ul li {
  width: 54px;
  height: 54px;
  color: #666;
  font-size: 12px;
  background-color: #999;
  border-bottom: 1px solid #666;
}
#right-way ul li img {
  margin: -10px 0;
}
#right-way ul li:last-child {
  border-bottom: none;
}
#right-way ul li:last-child img {
  margin: 0;
}

.list-title {
  width: 1200px;
  height: 36px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  border-bottom: 1px solid #ccc;
}
.list-title p {
  color: #666;
  font-size: 14px;
  background-color: transparent;
  text-align: left;
  margin: 5px 15px;
}

.list-con {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  width: 1200px;
}
.list-con .goods-menu ul {
  width: 220px;
  list-style: none;
  text-align: center;
  text-align: left;
  border: 1px solid #ccc;
  color: #666;
  font-size: 14px;
  background-color: transparent;
}
.list-con .goods-menu ul aside {
  line-height: 40px;
  text-align: left;
  color: white;
  font-size: 16px;
  background-color: #999;
  margin-bottom: -1px;
  padding-left: 30px;
  border-bottom: 1px solid #ccc;
}
.list-con .goods-menu li {
  line-height: 40px;
  border-top: 1px dashed #ccc;
  padding-left: 30px;
}
.list-con .goods-menu li span {
  color: #999;
  font-size: 12px;
  background-color: transparent;
  margin: 0 6px 0 -18px;
  display: inline-block;
  transform: rotate(180deg) scale(0.6);
}

.goods-list .brand {
  width: 960px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
}
.goods-list .brand-left {
  width: 100px;
  height: 245px;
  color: #333;
  font-size: 14px;
  background-color: #eee;
  padding-left: 20px;
  padding-top: 10px;
}
.goods-list .brand-right {
  width: 830px;
  height: 235px;
  padding: 10px 10px 0px;
}
.goods-list .brand-right P {
  margin-bottom: 10px;
}
.goods-list .brand-right P span {
  display: inline-block;
  margin: 0 3px;
  color: #333;
  font-size: 14px;
  background-color: transparent;
  cursor: pointer;
}
.goods-list .brand-right .brand-list {
  width: 714px;
  list-style: none;
  text-align: center;
}
.goods-list .brand-right .brand-list li {
  width: 118px;
  height: 50px;
  border: 1px solid #ccc;
  margin-top: -1px;
  margin-right: -1px;
  float: left;
}
.goods-list .sort {
  width: 960px;
  border: 1px solid #ccc;
  margin-top: 12px;
  color: #333;
  font-size: 14px;
  background-color: #eee;
  list-style: none;
  text-align: center;
}
.goods-list .sort > li {
  line-height: 40px;
  padding: 0px 20px;
  display: inline-block;
  border-left: 1px solid #ccc;
  margin-left: -1px;
  margin-right: -4px;
  cursor: pointer;
}
.goods-list .sort > li ul {
  display: inline-block;
}
.goods-list .sort > li:hover {
  background-color: white;
  color: #e50012;
}
.goods-list .sort li:last-child:hover {
  background-color: #eee;
  color: #333;
}

/*# sourceMappingURL=list.css.map */
