*{
    margin: 0;
    padding: 0;
}
body{
    @include bodystyle;
}
#banner{
    @include wh(30px,transparent)
}
header{
    @include wh(86px,transparent)
}
#inner{
    @include wh(43px,transparent)
}
footer{
    margin-top:50px;
    width: 100%;
    @include bodystyle();
    background-color: #efefef;
}
#footer-top{
    @include wh(205px,transparent)
}
#footer-bottom{
    @include wh(154px,transparent)
}