@charset "UTF-8";
//右侧边栏样式
#right-way{
    @include positon-style(fixed,100px,1849px);
    ul{
        @include li-style();
        border: 1px solid #666;
        li{
            @include bigger(54px,54px);
            @include font-standard(#666,12px,#999);
            border-bottom: 1px solid #666;
            img{
                margin: -10px 0;
            }
        }
        li:last-child{
            border-bottom: none;
            img{
                margin:0;
            }
        }
    }
}